.sidebar-open {
  position: absolute;
  left: 0px;
  top: 60px;
  width: 100vw;
}

.sidebar-closed {
  position: absolute;
  left: 0px;
  top: 60px;
  width: 100vw;
}

@media (min-width: 768px) {
  .sidebar-open {
    left: 270px;
    width: calc(100vw - 270px) !important;
  }
}

/*nav-item{
  flex: 1;
}

.tab-content{
  width: 100%;
}*/

.nav-tabs {
  border: none !important;
}

.nav-tabs .nav-link {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.nav-link.active {
  background-color: rgb(80, 116, 77) !important;
  color: white !important;
  font-weight: bold;
}

.nav-link:hover {
  background-color: rgb(80, 116, 77) !important;
  color: white !important;
  font-weight: bold;
}
