/*.modal-dialog {
  max-width: 100% !important;
  margin: 0 !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 95%;
  height: 95%;
  max-height: 95%;
  overflow-y: auto;
  position: relative;
}

@media (min-width: 992px) {
  .modal-content {
    max-width: 40%;
    height: 85%;
    max-height: 85%;
  }
}
*/