@media (min-width: 768px) {
  .sidebar-open {
    left: 270px;
    width: calc(100vw - 270px) !important;
  }
}

.introducaodedados {
  background: rgba(0, 0, 0, 0.5);
}

.list-group-item.active {
  background-color: rgb(80, 116, 77) !important;
}

/*.nav-link{
  padding: 10px !important;
}*/
